<!DOCTYPE html>
<html>
  <head>
    <title>כרטיסיות</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/libs/handsontable/handsontable.full.css' />
    <link rel='stylesheet' href='/javascripts/libs/bootstrap/css/bootstrap-flatly.css' />
    <link rel='stylesheet' href='/javascripts/libs/flippy/css/flippy.css' />
    <link rel='stylesheet' href='/javascripts/libs/flippy/css/flippy-fancy.css' />
    <script src="/javascripts/libs/angular.js"></script>
    <script src="/javascripts/libs/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/factories/cardSetsFactory.js"></script>
    <script src="/javascripts/factories/schoolsFactory.js"></script>
    <script src="/javascripts/factories/departmentsFactory.js"></script>
    <script src="/javascripts/factories/coursesFactory.js"></script>
    <script src="/javascripts/controllers/mainController.js"></script>
    <script src="/javascripts/libs/handsontable/handsontable.full.js"></script>
    <script src="/javascripts/libs/flippy/js/flippy.js"></script>
    <script src="/javascripts/libs/bootstrap/js/bootstrap.js"></script>
  </head>
  <body ng-app="studyCards" ng-controller="mainCtrl" dir="rtl">

    <h1>users</h1>
    <p>ברוך הבא לכרטיסיות(שם לא סופי)</p>

    <div class="container">
        <select ng-model="chosenSchool" ng-options="school.name for school in schools" ng-change="schoolsChange()">
          <option value="">-- בחר בית ספר --</option>
        </select>
        <select ng-model="chosenDepartment" ng-options="dep.name for dep in departments" ng-change="departmentsChange()">
          <option value="">-- בחר מחלקה --</option>
        </select>
        <select ng-model="chosenCourse" ng-options="course.name for course in courses" ng-change="coursesChange()">
          <option value="">-- בחר קורס --</option>
        </select>
        <select ng-model="chosenCardSet" ng-options="cardSet.name for cardSet in cardSets" ng-change="cardSetChange()">
          <option value="">-- בחר סט כרטיסיות --</option>
        </select>
        <input ng-model="chosenCardSetId"/>

    <div dir="ltr" id="htTable"></div>


      <flippy
              class="fancy flashcard"
              ng-click="flip()"
              flip-duration="700"
              timing-function="ease-in-out">
        <flippy-front>
          <div class="well well-sm flashcard-part">
          <div class="flashcard-text">
          {{currentCard.front}}
          </div>
          </div>
        </flippy-front>

        <flippy-back>
          <div class="well well-sm flashcard-part">
          <div class="flashcard-text">
          {{currentCard.back}}
          </div>
          </div>
        </flippy-back>
      </flippy>
    </div>
  </body>
</html>
